[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs
[submodule "themes/puppet"]
	path = themes/puppet
	url = git@github.com:gkarwchan/hugo-theme-puppet.git
